* {
  color: white;
  font-family: 'Roboto Mono', monospace;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0px;
  overflow-x: hidden; }

button {
  position: relative; }

::-webkit-scrollbar {
  display: none; }

p {
  text-indent: 10px;
  display: inline; }

a {
  cursor: pointer; }

#gravity-simulator {
  filter: blur(2px); }

#main, #about, .popup > div {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: 100vmin;
  height: 100%;
  margin: auto;
  overflow: scroll; }

#main {
  overflow: visible; }

#activities {
  position: absolute;
  width: 100%;
  top: 65px;
  bottom: 50px; }
  #activities > table {
    position: relative;
    width: 100%;
    height: 100%;
    table-layout: fixed; }
    #activities > table > td {
      width: 50%; }

.activity {
  position: relative;
  flex: 1;
  border: 3px solid lime;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
  padding: 20px; }
  .activity > p {
    font-size: x-large; }
  .activity:hover {
    transform: scale(1.02);
    background-color: black;
    z-index: 10 !important; }

#about {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 3px solid lime;
  border-right: 3px solid lime; }

#title {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 6vmin;
  border-bottom: 3px solid lime;
  border-right: 3px solid lime;
  border-left: 3px solid lime;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  #title span {
    font-family: 'Courier New', Courier, monospace;
    vertical-align: bottom;
    font-size: 150%;
    font-weight: bolder; }

#bottom {
  font-size: x-large !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  transition-duration: 1s;
  border-top: 3px solid lime;
  border-left: 3px solid lime;
  border-right: 3px solid lime;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px; }
  #bottom button {
    position: relative;
    min-height: inherit;
    z-index: 5; }
    #bottom button i {
      vertical-align: middle; }

.popup {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 20;
  display: none; }
  .popup > div {
    width: 100vmin;
    height: 100vmin;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid lime;
    border-radius: 10px;
    animation: showPopup 0.5s;
    animation-fill-mode: both; }

.material-icons {
  font-size: xx-large !important;
  color: white; }

@keyframes showPopup {
  0% {
    width: 20vmin;
    height: 20vmin; }
  50% {
    width: 100vmin;
    height: 20vmin; }
  100% {
    width: 100vmin;
    height: 100%; } }
@keyframes hidePopup {
  0% {
    width: 100vmin;
    height: 100%; }
  50% {
    width: 100vmin;
    height: 20vmin;
    opacity: 1; }
  100% {
    opacity: 0;
    width: 1vmin;
    height: 20vmin; } }
.glitch {
  position: relative; }
  .glitch::before, .glitch::after {
    content: '@kraftwerk28';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    background-color: black; }
  .glitch::before {
    left: -4px;
    width: 101%;
    animation-name: glitching1;
    text-shadow: 1px 0 red; }
  .glitch::after {
    right: -3px;
    width: 101%;
    text-shadow: -2px 0 blue;
    animation-name: glitching2; }

@keyframes glitching1 {
  0% {
    clip: rect(20px, 9999px, 10px, 0); }
  10% {
    clip: rect(30px, 9999px, 4px, 0); }
  20% {
    clip: rect(20px, 9999px, 49px, 0); }
  30% {
    clip: rect(35px, 9999px, 29px, 0); }
  40% {
    clip: rect(22px, 9999px, 12px, 0); }
  50% {
    clip: rect(12px, 9999px, 36px, 0); }
  60% {
    clip: rect(25px, 9999px, 22px, 0); }
  70% {
    clip: rect(33px, 9999px, 6px, 0); }
  80% {
    clip: rect(22px, 9999px, 23px, 0); }
  90% {
    clip: rect(6px, 9999px, 30px, 0); } }
@keyframes glitching2 {
  0% {
    clip: rect(94px, 9999px, 33px, 0); }
  10% {
    clip: rect(88px, 9999px, 14px, 0); }
  20% {
    clip: rect(81px, 9999px, 9px, 0); }
  30% {
    clip: rect(39px, 9999px, 19px, 0); }
  40% {
    clip: rect(69px, 9999px, 65px, 0); }
  50% {
    clip: rect(24px, 9999px, 51px, 0); }
  60% {
    clip: rect(1px, 9999px, 78px, 0); }
  70% {
    clip: rect(13px, 9999px, 35px, 0); }
  80% {
    clip: rect(80px, 9999px, 44px, 0); }
  90% {
    clip: rect(66px, 9999px, 87px, 0); } }
#loadmask {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: black;
  z-index: 100;
  transition-duration: 1s; }

/*# sourceMappingURL=lobby-style.css.map */
