* {
  color: white;
  font-family: 'Roboto Mono', monospace;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0px;
}

body {
  position: relative;
}

button {
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

p {
  text-indent: 10px;
  display: inline;
}

a {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

#gravity-simulator {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

#main, #about, .popup > div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vmin;
  height: 100%;
  margin: auto;
  overflow: scroll;
}

#main {
  overflow: visible;
}

#activities {
  position: absolute;
  width: 100%;
  top: 65px;
  bottom: 50px;
}

#activities > table {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

#activities > table > td {
  width: 50%;
}

.activity {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 3px solid lime;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 0;
  cursor: pointer;
  padding: 20px;
}

.activity > p {
  font-size: x-large;
}

.activity:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: black;
  z-index: 10 !important;
}

#about {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 3px solid lime;
  border-right: 3px solid lime;
}

#title {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 6vmin;
  border-bottom: 3px solid lime;
  border-right: 3px solid lime;
  border-left: 3px solid lime;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#title span {
  font-family: 'Courier New', Courier, monospace;
  vertical-align: bottom;
  font-size: 150%;
  font-weight: bolder;
}

#bottom {
  font-size: x-large !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-top: 3px solid lime;
  border-left: 3px solid lime;
  border-right: 3px solid lime;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
}

#bottom button {
  position: relative;
  min-height: inherit;
  z-index: 5;
}

#bottom button i {
  vertical-align: middle;
}

.popup {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 20;
  display: none;
}

.popup > div {
  width: 100vmin;
  height: 100vmin;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 3px solid lime;
  border-radius: 10px;
  -webkit-animation: showPopup 0.5s;
          animation: showPopup 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.material-icons {
  font-size: xx-large !important;
  color: white;
}

@-webkit-keyframes showPopup {
  0% {
    width: 20vmin;
    height: 20vmin;
  }
  50% {
    width: 100vmin;
    height: 20vmin;
  }
  100% {
    width: 100vmin;
    height: 100%;
  }
}

@keyframes showPopup {
  0% {
    width: 20vmin;
    height: 20vmin;
  }
  50% {
    width: 100vmin;
    height: 20vmin;
  }
  100% {
    width: 100vmin;
    height: 100%;
  }
}

@-webkit-keyframes hidePopup {
  0% {
    width: 100vmin;
    height: 100%;
  }
  50% {
    width: 100vmin;
    height: 20vmin;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 1vmin;
    height: 20vmin;
  }
}

@keyframes hidePopup {
  0% {
    width: 100vmin;
    height: 100%;
  }
  50% {
    width: 100vmin;
    height: 20vmin;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 1vmin;
    height: 20vmin;
  }
}

.wave-div {
  background-color: rgba(255, 255, 255, 0.2);
}

.glitch {
  position: relative;
}

.glitch::before, .glitch::after {
  content: '@kraftwerk28';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  background-color: black;
}

.glitch::before {
  left: -4px;
  width: 101%;
  -webkit-animation-name: glitching1;
          animation-name: glitching1;
  text-shadow: 1px 0 red;
}

.glitch::after {
  right: -3px;
  width: 101%;
  text-shadow: -2px 0 blue;
  -webkit-animation-name: glitching2;
          animation-name: glitching2;
}

@-webkit-keyframes glitching1 {
  0% {
    clip: rect(24px, 9999px, 35px, 0);
  }
  10% {
    clip: rect(49px, 9999px, 16px, 0);
  }
  20% {
    clip: rect(15px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(26px, 9999px, 37px, 0);
  }
  40% {
    clip: rect(2px, 9999px, 23px, 0);
  }
  50% {
    clip: rect(26px, 9999px, 1px, 0);
  }
  60% {
    clip: rect(48px, 9999px, 38px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 10px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 31px, 0);
  }
  90% {
    clip: rect(7px, 9999px, 22px, 0);
  }
}

@keyframes glitching1 {
  0% {
    clip: rect(24px, 9999px, 35px, 0);
  }
  10% {
    clip: rect(49px, 9999px, 16px, 0);
  }
  20% {
    clip: rect(15px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(26px, 9999px, 37px, 0);
  }
  40% {
    clip: rect(2px, 9999px, 23px, 0);
  }
  50% {
    clip: rect(26px, 9999px, 1px, 0);
  }
  60% {
    clip: rect(48px, 9999px, 38px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 10px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 31px, 0);
  }
  90% {
    clip: rect(7px, 9999px, 22px, 0);
  }
}

@-webkit-keyframes glitching2 {
  0% {
    clip: rect(33px, 9999px, 57px, 0);
  }
  10% {
    clip: rect(1px, 9999px, 36px, 0);
  }
  20% {
    clip: rect(28px, 9999px, 81px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 78px, 0);
  }
  50% {
    clip: rect(77px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(51px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(70px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(48px, 9999px, 25px, 0);
  }
  90% {
    clip: rect(14px, 9999px, 53px, 0);
  }
}

@keyframes glitching2 {
  0% {
    clip: rect(33px, 9999px, 57px, 0);
  }
  10% {
    clip: rect(1px, 9999px, 36px, 0);
  }
  20% {
    clip: rect(28px, 9999px, 81px, 0);
  }
  30% {
    clip: rect(64px, 9999px, 30px, 0);
  }
  40% {
    clip: rect(13px, 9999px, 78px, 0);
  }
  50% {
    clip: rect(77px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(51px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(70px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(48px, 9999px, 25px, 0);
  }
  90% {
    clip: rect(14px, 9999px, 53px, 0);
  }
}

#loadmask {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: black;
  z-index: 100;
}
/*# sourceMappingURL=style.css.map */